# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Build output
dist/
**/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Vite
*.local